.intro-text {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  font-family: "Architects Daughter", cursive;
  margin-left: 15vw;
}

.first-name {
  color: #ffec78;
  font-weight: 700;
}

.job-description {
  margin-top: 2vh;
  font-size: 1.3rem;
  font-style: italic;
  opacity: 0.8;
}
