.project-showcase {
  margin: 2vh 8vw;
}

.project-title {
  color: #ffec78;
  margin: 0;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0c0a29, #060415, #0c0a29);
  font-family: "Architects Daughter", cursive;
}

.project-details {
  display: flex;
  justify-content: space-between;
  margin: 0 1vw;
  padding: 3vh 0;
}

.project-info-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 50%;
}

.project-info-buttons {
  display: flex;
  justify-content: space-evenly;
}

.project-info-btn {
  background-color: #ffec78;
  color: #1e1633;
  border: none;
  border-radius: 5px;
  box-shadow: 8px 8px 5px #060415;
  height: 6.5vh;
  width: 7.5vw;
  font-size: 0.9em;
  font-weight: 600;
}

.project-info-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.project-info-text {
  padding: 0 5px;
  word-wrap: break-word;
}

.project-img-container {
  width: 600px;
  height: 350px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: 8px 8px 5px #060415;
}

.project-img {
  width: 100%;
}
