.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-btn {
  background-color: #ffec78;
  color: #1e1633;
  border: none;
  border-radius: 5px;
  height: 6.5vh;
  width: 7.5vw;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
}
