.about-holder {
  display: flex;
  justify-content: center;
}

.about-myself-container {
  width: 75%;
}

.info-header {
  color: #ffec78;
  font-family: "Architects Daughter", cursive;
  font-size: 1.5rem;
}
