.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.contact-form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5vh auto;
}

.contact-form input {
  height: 3vh;
  width: 25vw;
}

#textarea {
  height: 30vh;
  width: 25vw;
}

.form-btn {
  background-color: #ffec78;
  color: #1e1633;
  border: none;
  border-radius: 5px;
  box-shadow: 8px 8px 5px #060415;
  height: 6.5vh;
  width: 7.5vw;
  font-size: 0.9em;
  font-weight: 600;
}

.form-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
